@{
    ViewData["Title"] = "About";
}

<div class="container aboutContainer text-center" id="main">
    <br />
    <br />
    <br />
    <h1>WHAT ABOUT US</h1>
    <hr style="width:100px" />
    <p>My name is Vincent PETRINI and I'm a passionated developer, analysts and designer.</p>
    <p>My key goal in any development that I start is to accomplish everything and not let the challenge stop my creativity.</p>

    <p>The most important thing for me is to deeply understand customer needs by involving him or her in all steps of the development process.</p>

    <p>I use modern, cross-platfrom development technologies to insure short delay and fast provisionning on any platform.</p>

    <p>All my projects are made in states of the art using the best patterns and aligned with best practices</p>
    <br />

</div>