<div class="app" id="app1" onclick="LoadDetails('App1')">
    <div class="row">
        <div class=" col-4 text-right">
            <img src="~/images/departuretime.png" />
        </div>
        <div class="col-8 text-Left">
            <div class="col-12 text-center">
                <h2>Departure Time Calculator</h2>
                <p>For a better life and work balance management</p>
            </div>
            <div class="row justify-content-around" style="padding:10px;">
                <div class="col-4 text-center"><img class="customBannerImage" src="~/images/xamarin.png"></div>
                <div class="col-4 text-center"><img class="customBannerImage" src="~/images/android.png" /></div>
                <div class="col-4 text-center"><img class="customBannerImage" src="~/images/apple.png" /></div>
            </div>
            <div class="row justify-content-around" style="padding:10px;">
                <div class="col-12 text-center">
                    <p>Discover the application</p>
                </div>
            </div>
        </div>
    </div>
</div>