@model DigitalArtStd.Models.ContactViewModel

@{
    ViewData["Title"] = "Contact";
}


<div class="contactContainer container spacerTop" id="main">
    <div class="contact frame text-center">
        <h3 class="title">Let's talk about your project.</h3>
        <div class="contact-info">
            <div class="contact-logo">
                <img src="~/images/digital.svg" />
            </div>
            <div class="contact-text text-left">
                <p>Vincent PETRINI</p>
                <p>30, Rue d'Audun</p>
                <p>F-57840 Ottange</p>
                <p>France</p>
                <a href="mailto:info@digitalartstd.com">info@digitalartstd.com</a>
            </div>
            <div class="contact-footer">
                <ul>
                    <li class="icon-hover">
                        <div class="icon-label">
                            <label>Mobile Dev</label>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1950 1950">
                            <path d="M1290.24,5.26886L467.35,5.26886C388.599,5.26886,325.025,68.1055,325.025,145.457L325.025,1789.71C325.025,1867,388.599,1929.76,467.35,1929.76L1290.24,1929.76C1368.84,1929.76,1432.55,1867,1432.55,1789.71L1432.55,145.457C1432.55,68.1055,1368.84,5.26886,1290.24,5.26886ZM675.745,90.4057L1081.98,90.4057C1092.25,90.4057,1100.59,105.484,1100.59,124.138C1100.59,142.793,1092.25,157.941,1081.98,157.941L675.745,157.941C665.41,157.941,657.213,142.793,657.213,124.138C657.213,105.484,665.41,90.4057,675.745,90.4057ZM878.863,1791.4C828.763,1791.4,787.994,1751.28,787.994,1701.91C787.994,1652.54,828.763,1612.57,878.863,1612.57C928.823,1612.57,969.596,1652.54,969.596,1701.91C969.596,1751.28,928.823,1791.4,878.863,1791.4ZM1325.94,1485.01L431.715,1485.01L431.715,241.815L1325.94,241.815L1325.94,1485.01Z" transform="translate(114,5)" />
                            <g transform="translate(741.456,587.416)">
                                <path d="M153.821,358.226L0,274.337L0,227.874L153.821,144.46L153.821,199.034L46.636,250.523L153.821,303.954C153.821,303.954,153.821,358.226,153.821,358.226Z" />
                                <path d="M180.094,387.584L282.103,115.08L314.33,115.08L212.084,387.584L180.094,387.584Z" />
                                <path d="M348.843,358.226L348.843,303.954L456.007,250.955L348.843,198.365L348.843,144.438L502.664,227.96L502.664,274.143L348.843,358.226Z" />
                            </g>
                        </svg>
                    </li>
                    <li class="icon-hover">
                        <div class="icon-label">
                            <label>Web dev</label>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 -300 1950 1950">
                            <path d="M416,256C372,256,334.333,271.667,303,303C271.667,334.333,256,372,256,416L256,1120C256,1164,271.667,1201.67,303,1233C334.333,1264.33,372,1280,416,1280L1504,1280C1548,1280,1585.67,1264.33,1617,1233C1648.33,1201.67,1664,1164,1664,1120L1664,416C1664,372,1648.33,334.333,1617,303C1585.67,271.667,1548,256,1504,256L416,256ZM384,1120L384,416C384,407.333,387.167,399.833,393.5,393.5C399.833,387.167,407.333,384,416,384L1504,384C1512.67,384,1520.17,387.167,1526.5,393.5C1532.83,399.833,1536,407.333,1536,416L1536,1120C1536,1128.67,1532.83,1136.17,1526.5,1142.5C1520.17,1148.83,1512.67,1152,1504,1152L416,1152C407.333,1152,399.833,1148.83,393.5,1142.5C387.167,1136.17,384,1128.67,384,1120ZM1760,192L1920,192L1920,96C1920,69.3333,1904.33,46.6667,1873,28C1841.67,9.33333,1804,0,1760,0L160,0C116,0,78.3333,9.33333,47,28C15.6667,46.6667,0,69.3333,0,96L0,192L160,192L1760,192ZM1040,96C1050.67,96,1056,101.333,1056,112C1056,122.667,1050.67,128,1040,128L880,128C869.333,128,864,122.667,864,112C864,101.333,869.333,96,880,96L1040,96Z" transform="translate(15.1864,1597.46) rotate(180) scale(-1,1)" />
                            <g transform="translate(723.668,587.416)">
                                <path d="M153.821,358.226L0,274.337L0,227.874L153.821,144.46L153.821,199.034L46.636,250.523L153.821,303.954C153.821,303.954,153.821,358.226,153.821,358.226Z" />
                                <path d="M180.094,387.584L282.103,115.08L314.33,115.08L212.084,387.584L180.094,387.584Z" />
                                <path d="M348.843,358.226L348.843,303.954L456.007,250.955L348.843,198.365L348.843,144.438L502.664,227.96L502.664,274.143L348.843,358.226Z" />
                            </g>
                        </svg>
                    </li>
                    <li class="icon-hover">
                        <div class="icon-label">
                            <label>Hosting</label>
                        </div>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 -300 1950 1950">
                            <path id="cloud" d="M1549.16,627.584C1523.03,380.442,1295.92,186.5,1016.25,186.5C799.898,186.5,614.69,302.866,529.26,469.83C503.553,462.462,476.77,457.37,448.373,457.37C299.812,457.37,179.349,566.584,179.349,701.152C179.349,727.914,185.268,753.214,194.056,777.212C78.4952,838.266,0,950.298,0,1080.26C0,1274.74,173.969,1432.4,388.59,1432.4L388.59,1432.5L1464.63,1432.5L1464.63,1432.4C1712.31,1432.4,1913,1250.53,1913,1026.09C1913,827.974,1756.31,663.502,1549.16,627.584ZM1464.63,1323.99L1464.63,1324.16L388.59,1324.16C240.268,1323.99,119.566,1214.67,119.566,1080.26C119.566,993.583,169.963,915.302,254.317,870.77C336.28,828.136,341.899,819.684,307.524,743.082C301.725,727.318,298.915,713.612,298.915,701.206C298.915,626.5,365.932,565.772,448.373,565.772C448.373,565.772,487.591,563.226,529.26,578.232C597.831,602.989,605.304,579.315,637.706,515.444C706.277,381.472,854.838,294.848,1016.25,294.848C1231.47,294.848,1409.39,442.364,1430.19,637.986C1437.54,715.562,1437.54,715.562,1526.74,734.036C1681.34,760.798,1793.43,883.664,1793.43,1026.09C1793.43,1190.39,1645.95,1323.99,1464.63,1323.99Z" transform="translate(19,149)" />
                            <path d="M547.602,250.6C538.611,116.565,429.251,9.4154,292.405,0.6086L292.405,0L274.13,0L255.855,0L255.855,0.6086C119.009,9.4154,9.61283,116.565,0.621361,250.6L0,250.6L0,268.5L0,286.4L0.621361,286.4C9.61283,420.435,119.009,527.549,255.855,536.356L255.855,537L274.13,537L292.405,537L292.405,536.356C429.251,527.549,538.611,420.435,547.602,286.4L548.26,286.4L548.26,268.5L548.26,250.6L547.602,250.6ZM171.605,58.533C153.951,81.5166,139.295,110.336,128.622,143.2L73.8689,143.2C97.6999,106.791,131.546,77.328,171.605,58.533ZM54.7529,179L119.009,179C114.111,201.626,111.004,225.647,110.018,250.6L37.2451,250.6C39.1823,225.397,45.2497,201.303,54.7529,179ZM37.2451,286.4L110.018,286.4C111.004,311.353,114.111,335.374,119.009,358L54.7529,358C45.2497,335.697,39.1823,311.603,37.2451,286.4ZM73.8689,393.8L128.585,393.8C139.258,426.664,153.915,455.483,171.605,478.467C131.546,459.672,97.6999,430.244,73.8689,393.8ZM255.855,498.909C218.281,489.064,185.933,449.541,166.306,393.8L255.855,393.8L255.855,498.909ZM255.855,358L156.035,358C150.881,335.697,147.628,311.603,146.568,286.4L255.855,286.4L255.855,358ZM255.855,250.6L146.568,250.6C147.628,225.397,150.881,201.303,156.035,179L255.855,179L255.855,250.6ZM255.855,143.2L166.306,143.2C185.933,87.4594,218.281,47.9362,255.855,38.127L255.855,143.2ZM474.391,143.2L419.711,143.2C409.002,110.336,394.382,81.5166,376.655,58.533C416.678,77.328,450.56,106.791,474.391,143.2ZM292.405,38.127C329.943,47.9362,362.327,87.4594,381.954,143.2L292.405,143.2L292.405,38.127ZM292.405,179L392.189,179C397.379,201.303,400.559,225.397,401.692,250.6L292.405,250.6L292.405,179ZM292.405,286.4L401.692,286.4C400.632,311.603,397.379,335.697,392.189,358L292.405,358L292.405,286.4ZM292.405,498.909L292.405,393.8L381.954,393.8C362.327,449.541,329.943,489.064,292.405,498.909ZM376.655,478.467C394.309,455.448,409.002,426.664,419.711,393.8L474.391,393.8C450.56,430.244,416.678,459.672,376.655,478.467ZM493.507,358L429.251,358C434.149,335.374,437.256,311.353,438.242,286.4L510.978,286.4C509.078,311.603,503.01,335.697,493.507,358ZM438.242,250.6C437.256,225.647,434.149,201.626,429.251,179L493.507,179C503.01,201.303,509.078,225.397,511.015,250.6L438.242,250.6Z" transform="translate(700.87,776.584)" />
                        </svg>
                    </li>
                </ul>
            </div>
        </div>
        <div class="contact-form">
            
            @if (ViewBag.Message == null)
            {
                <form class="" method="post" id="contactForm">
                    <div class="row">
                        <div class="form-field col x-50">
                            <input id="firstname" class="input-text js-input" type="text" placeholder="First Name *" asp-for="FirstName" required>
                        </div>
                        <div class="form-field col x-50">
                            <input id="lastname" class="input-text js-input" type="text" placeholder="Last Name *" asp-for="LastName" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-field col x-100">
                            <input id="email" class="input-text js-input" type="email" placeholder="E-Mail *" required asp-for="Email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-field col x-100">
                            <input id="subject" class="input-text js-input" type="text" placeholder="Subject *" asp-for="Subject" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-field col x-100">
                            <textarea id="message" class="input-text-box js-input" type="text" placeholder="Message *" asp-for="Message" required></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-field col x-100 align-center">
                            <input class="submit-btn" type="submit" value="Send Message">
                        </div>
                    </div>
                </form>
            }
        </div>
    </div>



    <div>
        <div>
            @if (ViewBag.Message != null)
            {
                <div>@ViewBag.Message</div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
          jQuery.extend(jQuery.validator.messages, {
            required: "Required Field",
            email: "Bad format. Enter a valid email address youremail@exemple.com"
  });
    </script>
}
