@{
    ViewData["Title"] = "Home Page";
}

<div class="Container">
    <div class="row text-center banner">
        <div class="col"><img class="customBannerImage" src="~/images/amazon.png" /></div>
        <div class="col"><img class="customBannerImage" src="~/images/azure.png" /></div>
        <div class="col"><img class="customBannerImage" src="~/images/dotnet-core.png" /></div>
        <div class="col"><img class="customBannerImage" src="~/images/dotnet-mvc.png" /></div>
        <div class="col"><img class="customBannerImage" src="~/images/react.png" /></div>
        <div class="col"><img class="customBannerImage" src="~/images/xamarin.png" /></div>
        <div class="col"><img class="customBannerImage" src="~/images/angular.png" /></div>
        <div class="col"><img class="customBannerImage" src="~/images/apple.png" /></div>
        <div class="col"><img class="customBannerImage" src="~/images/android.png" /></div>
        <div class="col"><img class="customBannerImage" src="~/images/windows.png" /></div>
        <div class="col"><img class="customBannerImage" src="~/images/jquery.png" /></div>
        <div class="col"><img class="customBannerImage" src="~/images/css3.png" /></div>
        <div class="col"><img class="customBannerImage" src="~/images/html5.png" /></div>
        <div class="col"><img class="customBannerImage" src="~/images/bootstrap.png" /></div>
    </div>

    <br />
    <div class="topics">
        <div id="panelRight" class="panelRight hidden" dir="rtl">
            <ul>
                <li class="panel-item active">
                    <a onclick="GoTo('analyse',this)">
                        <span class="panel-line"></span>
                        <span class="panel-number">&#x22B3;</span>
                        <span class="panel-name">Analyse</span>
                    </a>
                </li>
                <li class="panel-item">
                    <a onclick="GoTo('design',this)">
                        <span class="panel-line"></span>
                        <span class="panel-number">&#x22B3;</span>
                        <span class="panel-name">Design</span>
                    </a>
                </li>
                <li class="panel-item">
                    <a onclick="GoTo('responsive',this)">
                        <span class="panel-line"></span>
                        <span class="panel-number">&#x22B3;</span>
                        <span class="panel-name">Responsive</span>
                    </a>
                </li>
                <li class="panel-item">
                    <a onclick="GoTo('crossplatform',this)">
                        <span class="panel-line"></span>
                        <span class="panel-number">&#x22B3;</span>
                        <span class="panel-name">Compatibility</span>
                    </a>
                </li>
                <li class="panel-item">
                    <a onclick="GoTo('hosting',this)">
                        <span class="panel-line"></span>
                        <span class="panel-number">&#x22B3;</span>
                        <span class="panel-name">Hosting</span>
                    </a>
                </li>
                <li class="panel-item">
                    <a onclick="GoTo('satisfaction',this)">
                        <span class="panel-line"></span>
                        <span class="panel-number">&#x22B3;</span>
                        <span class="panel-name">Satisfaction</span>
                    </a>
                </li>
            </ul>
        </div>
        <br />

        <div class="mFrame">
            <div class="topic active" id="analyse">
                <div class="shFrame row">
                    <div class="shHeader col-4 text-right flGrey">
                        <div class="row">
                            <div class="col text-right header-row header-line-left" dir="rtl">
                                <h2 class="header-left">Deep</h2>
                                <h2 class="header-left-full">Deep Analysis</h2>
                            </div>
                        </div>
                    </div>
                    <div class="shBody col-8 text-center">
                        <div class="row">
                            <div class="col-8 text-left header-row header-line-right">
                                <h2 class="header-right">Analysis</h2>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-5 flip-box">
                                <div class="text-center shSubFrame">
                                    <div class="shSubFrame-header">Requirements</div>
                                    <div><img class="shImg" src="~/images/requirements.png" /></div>
                                    <div class="details-mask"></div>
                                    <div class="details">
                                        <p>Let's define all of your needs</p>
                                        <p>Constraints</p>
                                        <p>Deadlines</p>
                                        <p>Goals</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 flip-box">
                                <div class="text-center shSubFrame">
                                    <div class="shSubFrame-header">Functionalities</div>
                                    <div><img class="shImg" src="~/images/functionality.png" /></div>
                                    <div class="details-mask"></div>
                                    <div class="details">
                                        <p>What do you exactly wish ?</p>
                                        <p>Static or dynamic website</p>
                                        <p>Mobile application with web services</p>
                                        <p>Self or outsourced hosting and management</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-5 flip-box">
                                <div class="text-center shSubFrame">
                                    <div class="shSubFrame-header">Architecture</div>
                                    <div><img class="shImg" src="~/images/design-analyse.png" /></div>
                                    <div class="details-mask"></div>
                                    <div class="details">
                                        <p>What king of application you need ?</p>
                                        <p>Dedicated backend or embedded database</p>
                                        <p>Standalone or connected application</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 flip-box">
                                <div class="text-center shSubFrame">
                                    <div class="shSubFrame-header">Flexibility</div>
                                    <div><img class="shImg" src="~/images/flexibility.png" /></div>
                                    <div class="details-mask"></div>
                                    <div class="details">
                                        <p>Add or modify functionalities</p>
                                        <p>At any time</p>
                                        <p>Depending on your business growth or personal needs</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mFrame">
            <div class="topic" id="design">
                <div class="shFrame row">
                    <div class="shHeader col-4 text-right flGrey">
                        <div class="row">
                            <div class="col text-right header-row header-line-left" dir="rtl">
                                <h2 class="header-left">Right</h2>
                                <h2 class="header-left-full">Right Design</h2>
                            </div>
                        </div>
                    </div>
                    <div class="shBody col-8 text-center">
                        <div class="row">
                            <div class="col-8 text-left header-row header-line-right">
                                <h2 class="header-right">Design</h2>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-5 flip-box">
                                <div class="text-center shSubFrame">
                                    <div class="shSubFrame-header">Professional Need</div>
                                    <div><img class="shImg" src="~/images/professional.png" /></div>
                                    <div class="details-mask"></div>
                                    <div class="details">
                                        <p>Business oriented design</p>
                                        <p>Perfect reflect of your sector of activities</p>
                                        <p>Add value to your products or services</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 flip-box">
                                <div class="text-center shSubFrame">
                                    <div class="shSubFrame-header">Personnal Need</div>
                                    <div><img class="shImg" src="~/images/personnal.png" /></div>
                                    <div class="details-mask"></div>
                                    <div class="details">
                                        <p>You dream about a blog?</p>
                                        <p>Or just wish a personnal website ?</p>
                                        <p>Affordable and fully customised keys in hand solution</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-5 flip-box">
                                <div class="text-center shSubFrame">
                                    <div class="shSubFrame-header">Minimalist</div>
                                    <div><img class="shImg" src="~/images/minimalist.png" /></div>
                                    <div class="details-mask"></div>
                                    <div class="details">
                                        <p>Clear, clean, simple lines for a beautifull design</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 flip-box">
                                <div class="text-center shSubFrame">
                                    <div class="shSubFrame-header">Elegant</div>
                                    <div><img class="shImg" src="~/images/elegant.png" /></div>
                                    <div class="details-mask"></div>
                                    <div class="details">
                                        <p>Whant something more graphic or colorfull?</p>
                                        <p>Something more refines ?</p>
                                        <p>Let's talking about</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mFrame">
            <div class="topic" id="responsive">
                <div class="shFrame row">
                    <div class="shHeader col-4 text-right flGrey">
                        <div class="row">
                            <div class="col text-right header-row header-line-left" dir="rtl">
                                <h2 class="header-left">Responsive</h2>
                                <h2 class="header-left-full">Adaptative Design</h2>
                            </div>
                        </div>
                    </div>
                    <div class="shBody col-8 text-center">
                        <div class="row">
                            <div class="col-8 text-left header-row header-line-right">
                                <h2 class="header-right">Design</h2>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-8 flip-box">
                                <div class="text-center shSubFrame">
                                    <div class="shSubFrame-header">Adaptative</div>
                                    <div><img class="shImg" src="~/images/responsive-design.png" /></div>
                                    <div class="details-mask"></div>
                                    <div class="details">
                                        <p>Your product readable on all screen sizes</p>
                                        <p>Mobile, tablet, computer, kiosk</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-8 flip-box">
                                <div class="text-center shSubFrame">
                                    <div class="shSubFrame-header">All Browsers Compatibility</div>
                                    <div><img class="shImg" src="~/images/browsers.png" /></div>
                                    <div class="details-mask"></div>
                                    <div class="details">
                                        <p>Full compatibility with modern browsers</p>
                                        <p>Google Chrome - Safari - Mozilla Firefox - Opera - Microsoft Internet Explorer and Edge</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mFrame">
            <div class="topic" id="crossplatform">
                <div class="shFrame row">
                    <div class="shHeader col-4 text-right flGrey">
                        <div class="row">
                            <div class="col text-right header-row header-line-left" dir="rtl">
                                <h2 class="header-left">Cross</h2>
                                <h2 class="header-left-full">Cross Platform</h2>
                            </div>
                        </div>
                    </div>
                    <div class="shBody col-8 text-center">
                        <div class="row">
                            <div class="col-8 text-left header-row header-line-right">
                                <h2 class="header-right">Platform</h2>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-8 flip-box">
                                <div class="text-center shSubFrame">
                                    <div class="shSubFrame-header">No Platform Restriction</div>
                                    <div><img class="shImg" src="~/images/cross-platform.png" /></div>
                                    <div class="details-mask"></div>
                                    <div class="details">
                                        <p>
                                            By using cross-platform framework I am able to produce in one shot
                                            a product compatible with all platform
                                        </p>
                                        <p>No separate development needed</p>
                                        <p>Save time, save money for the same results</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-5 flip-box">
                                <div class="text-center shSubFrame">
                                    <div class="shSubFrame-header">Xamarin for Mobile Apps</div>
                                    <div><img class="shImg" src="~/images/xamarin.png" /></div>
                                    <div class="details-mask"></div>
                                    <div class="details">
                                        <p>Xamarin is a mobile framework to develop application for Android, IOS and UWP</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 flip-box">
                                <div class="text-center shSubFrame">
                                    <div class="shSubFrame-header">NetCore for Web Apps</div>
                                    <div><img class="shImg" src="~/images/dotnet-core.png" /></div>
                                    <div class="details-mask"></div>
                                    <div class="details">
                                        <p>Base on microsoft ASP.Net the most famous framework for web development</p>
                                        <p>Deploy your website anywhere</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mFrame">
            <div class="topic" id="hosting">
                <div class="shFrame row">
                    <div class="shHeader col-4 text-right flGrey">
                        <div class="row">
                            <div class="col text-right header-row header-line-left" dir="rtl">
                                <h2 class="header-left">Solution</h2>
                                <h2 class="header-left-full">Solution Hosting</h2>
                            </div>
                        </div>
                    </div>
                    <div class="shBody col-8 text-center">
                        <div class="row">
                            <div class="col-8 text-left header-row header-line-right">
                                <h2 class="header-right">Hosting</h2>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-8 flip-box">
                                <div class="text-center shSubFrame">
                                    <div class="shSubFrame-header">Cloud Hosted</div>
                                    <div><img class="shImg" src="~/images/cloud.png" /></div>
                                    <div class="details-mask"></div>
                                    <div class="details">
                                        <p>You don't want to host your website, your data and so on by yourself ?</p>
                                        <p>Let me create a dedicated cloud based environment on an industry leading cloud provider</p>
                                        <p>No hardware, no software, focus on your core business</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-3 flip-box">
                                <div class="text-center shSubFrame">
                                    <div class="shSubFrame-header">Highly Available</div>
                                    <div><img class="shImg" src="~/images/highavailability.png" /></div>
                                    <div class="details-mask"></div>
                                    <div class="details">
                                        <p>Minimum or no service disruption</p>
                                        <p>Load balanced environment for maximum performance and security</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 flip-box">
                                <div class="text-center shSubFrame">
                                    <div class="shSubFrame-header">Scalable</div>
                                    <div><img class="shImg" src="~/images/scalability.png" /></div>
                                    <div class="details-mask"></div>
                                    <div class="details">
                                        <p>Increase your capacity at any time</p>
                                        <p>Follow business growth and performance needs</p>
                                        <p>Pay for what you use</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3 flip-box">
                                <div class="text-center shSubFrame">
                                    <div class="shSubFrame-header">Secure</div>
                                    <div><img class="shImg" src="~/images/security.png" /></div>
                                    <div class="details-mask"></div>
                                    <div class="details">
                                        <p>Fully secured environment</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mFrame">
            <div class="topic" id="satisfaction">
                <div class="shFrame row">
                    <div class="shHeader col-4 text-right flGrey">
                        <div class="row">
                            <div class="col text-right header-row header-line-left" dir="rtl">
                                <h2 class="header-left">Customer</h2>
                                <h2 class="header-left-full">Customer Satisfaction</h2>
                            </div>
                        </div>
                    </div>
                    <div class="shBody col-8 text-center">
                        <div class="row">
                            <div class="col-8 text-left header-row header-line-right">
                                <h2 class="header-right">Satisfaction</h2>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-5 flip-box">
                                <div class="text-center shSubFrame">
                                    <div class="shSubFrame-header">Continuous Feedback</div>
                                    <div><img class="shImg" src="~/images/feedback.png" /></div>
                                    <div class="details-mask"></div>
                                    <div class="details">
                                        <p>Keep open the discussion at any stage of the project</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 flip-box">
                                <div class="text-center shSubFrame">
                                    <div class="shSubFrame-header">Share Progress</div>
                                    <div><img class="shImg" src="~/images/progress.png" /></div>
                                    <div class="details-mask"></div>
                                    <div class="details">
                                        <p>Share progress to let you know in real time how is schedule</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-5 flip-box">
                                <div class="text-center shSubFrame">
                                    <div class="shSubFrame-header">Update Needs</div>
                                    <div><img class="shImg" src="~/images/update.png" /></div>
                                    <div class="details-mask"></div>
                                    <div class="details">
                                        <p>You have an idea or just want to change or add something ?</p>
                                        <p>Just tell me and I will do my best to include your changes into the project</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 flip-box">
                                <div class="text-center shSubFrame">
                                    <div class="shSubFrame-header">Team Spirit</div>
                                    <div><img class="shImg" src="~/images/team.png" /></div>
                                    <div class="details-mask"></div>
                                    <div class="details">
                                        <p>By working as a team</p>
                                        <p>We work together</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
