
@{
    ViewData["Title"] = "Portfolio";
}

<div class="Container">
    <div class="row text-center banner">
        <div class="col text-right"><img class="customBannerImage" src="~/images/apple-store.png"></div>
        <div class="col text-left"><img class="customBannerImage" src="~/images/google-play.png" /></div>
    </div>
    <div class="mFrame">
        <div class="apps" id="apps">
            <div class="shFrame">
                <a class="app" id="app1" href="/Home/App1#focusedApp1">
                    <div class="block-all">
                        <div class="block-left">
                            <h1 class="text-white">Work</h1>
                        </div>
                        <div class="block-right">
                            <h1 class="text-white">Life</h1>
                        </div>

                        <div class="block-line"></div>
                        <div class="triangle"></div>
                        <div class="app-title text-white">
                            <div class="text-center">
                                <h2 class="text-white">Departure Time Calculator</h2>
                                <p class="text-white">For a better life and work balance management</p>
                            </div>
                        </div>
                    </div>
                    <div class="discover">
                        <h1 style="color: rgb(134,134,134) !important;">Discover the application</h1>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>