
@{
    ViewData["Title"] = "Portfolio";
}

<div class="Container">
    <div class="row text-center banner">
        <div class="col text-right"><img class="customBannerImage" src="~/images/apple-store.png"></div>
        <div class="col text-left"><img class="customBannerImage" src="~/images/google-play.png" /></div>
    </div>
    <div class="mFrame">
        <div class="apps" id="apps">
            <div class="shFrame">
                <a class="app" id="app1" href="/Home/App1#focusedApp1">
                    <div class="row no-margin">
                        <div class=" col-4 text-center margin-auto">
                            <img style="width:20vw;" src="~/images/departuretime.png" />
                        </div>
                        <div class="col-8 text-Left">
                            <div class="col-12 text-center">
                                <h2>Departure Time Calculator</h2>
                                <p>For a better life and work balance management</p>
                            </div>
                            <div class="row justify-content-around" style="padding:10px;">
                                <div class="col-4 text-center"><img class="customBannerImage" src="~/images/xamarin.png"></div>
                                <div class="col-4 text-center"><img class="customBannerImage" src="~/images/android.png" /></div>
                                <div class="col-4 text-center"><img class="customBannerImage" src="~/images/apple.png" /></div>
                            </div>
                            <div class="row justify-content-around" style="padding:10px;">
                                <div class="col-12 text-center">
                                    <p>Discover the application</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>