.splashscreen {
    background: #000;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    position: relative;
    z-index:999;
}

.anim {
    position: absolute;
    margin: auto;
    height: 50vh;
    width:30vw;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.anim img{
    width:100%;
}

.hidden {
    display:none;
}

@media screen and (max-width: 992px) {
    .anim {
        height: 70vh;
        width: 60vw;
    }
}